@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Roboto+Slab:wght@200&family=Ubuntu&display=swap');
*{
  list-style: none;
}

body{
  margin-left: 150px;
  margin-right: 150px;
  height: 100vh;
  background-image: url('./movie_main.jpg');
  background-repeat : no-repeat;
  background-size : cover;
}
nav {
  margin-top: 48px;
}
a {
  color: white;
  text-decoration: none;
  padding: 18px 16px;
}

.logo {
  margin-left: 120px;
  font-weight: bold;
  font-size: 48px;
  float: left;
}
.list_main{
  margin-right: 120px;
  float: right;
}
.list_main ul{
  display: flex;
  
}

.list_main ul li{
  font-weight: bold;
  justify-content: space-between;
  text-align: center;
  font-size: 24px;
  
}
.center{
  color: white;
  position:absolute; width:800px; height:200px; top:50%; left:46%; margin-top:-50px; margin-left:-50px; 
  font-size: 80px;
  font-weight: 500;

}
.slider{
  width: 500px;
  height: 550px;
  top: 18%;
  left: 35%;
  position: relative;
}
.slide{
  width: 500px;
  height: 550px;
  background-size: cover;
  border-radius: 10px;
  animation: fade 1.5s;
  display: none;
}
.prev,
.next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 16px;
  color: rgb(248, 248, 248);
  font-size: 2rem;
  transition: 0.6s ease;
  border-radius: 5px;
}
.next{
  right: 0;
}
.prev:hover,
.next:hover{
  background-color: rgba(190, 190, 190, 0.5);
}


@keyframes fade{
  from{
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.list_main ul>li a:hover {
  color: #fff;
  background: #0ed1f0;
  border-radius: 17px;
  transition: all 0.3s ease-in;
   }
.home_btn{
  background-color: #0ed1f0;;
  border-radius: 17px;
}

input {
  position: relative;
  display: inline-block;
  font-size: 14px;
  box-sizing: border-box;
  transition: .5s;
  
}
input[type="text"]{
  background: #fff;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 24px;
  border-radius: 25px 0 0 25px;
  top:-6px;
}
input[type="submit"]{
  top:-5px;
  position: relative;
  border-radius: 0 25px 25px 0;
  width: 70px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ffc107;
  color: white;
}
input[type="submit"]:hover{
  background-color: #ff5722;
}
.bottom{
  color: white;
  position: absolute;
  bottom: 50px;
  left: 42%;
}